@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Peralta';
}

body {
    background: linear-gradient(to bottom, #5cb1f6, #ffffff);
    min-height: 100vh;
}

main {
    margin-top: 2%;
}

.lateral {
    float: left;
    padding: 20px;
}

.titulo {
    color: white;
    font-size: 40px;
}

.subtitulo {
    color: white;
    font-size: 30px;
}

.MongoDrongo {
    width: 100%;
    max-width: 300px;
}