@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Peralta';
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #ffffff);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
}

.MongoDrongo {
    width: 100%;
    max-width: 400px;
}