@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Peralta';
}

body {
    background: linear-gradient(to bottom, #5cb1f6, #ffffff);
    min-height: 100vh;
    display: flex;
}

main {
    display: flex;
    margin-top: 2%;
    padding: 15px;
}

.titulo {
    color: white;
    font-size: 40px;
}

.subtitulo {
    color: white;
    font-size: 30px;
}

.MongoDrongo {
    width: 100%;
    max-width: 300px;
}

.tabuleiro {
    width: 1000px;
    height: 1000px;
    color: red;
}